<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.theinvaded.mastondroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MastodroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host"
                    android:scheme="@string/custom_schema" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReplyActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".ui.activity.ThreadActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="894c7240bb1eaa57bdc34a7a3b487c70eba1d799" />

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:parentActivityName=".ui.activity.MainActivity"/>
    </application>

</manifest>